/* General Styles */
* {
  font-family: "Roboto Slab", serif;
  margin: 0;
  padding: 0;
  color: whitesmoke;
}
html {
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(to right, hsl(220, 23%, 56%), #273754);
  height: 100vh; /* Ensures full viewport height */
  margin: 0;
  padding: 0;
}

.header-font {
  font-family: "Oswald", serif;
}
.body-font {
  font-family: "Roboto Slab", serif;
}

/* Header */

.navbar-header {
  font-size: 3em;
  color: #4a97c9;
}
#header {
  background-color: white;
  padding: 15px 0;
  color: #1c3b51;
}

h2 {
  padding: 20px;
  color: #001c38;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
}
.container p {
  font-family: "Oswald", serif;
}

.logo {
  width: 150px;
}

#navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

#navbar ul li {
  margin: 0 10px;
}

#navbar ul li a {
  text-decoration: none;
  color: #1c3b51;
  padding: 15px 0;
  font-size: larger;
  font-weight: bold;
  transition: color 0.4s ease;
  font-family: "Roboto Slab", serif;
}

#navbar ul li a:hover {
  color: #145ca4;
  border-bottom: 2px solid #145ca4;
}

/* Game List */
.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 20px auto;
  max-width: 1100px;
}

.card {
  background: #1b2838;
  padding: 10px;
  border-radius: 1px;
  text-align: center;
  width: 220px;
}

.card img {
  width: 100%;
  border-radius: 5px;
  height: 160px;
  display: inline-block;
  transition: transform 0.3s ease;
}

.card-text {
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto Slab", serif;
}

.Download {
  background-color: #45a049;
  border: none;
  color: white;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
  font-style: oblique;
  width: 100%;
  font-family: "Roboto Slab", serif;
}

.Download:hover {
  background-color: #4a97c9;
}

/* About-us */

.dota2-ti {
  width: 100%;
  max-width: 100vw;
  height: 700px;
}

#about-us h2 {
  color: #001c38;
}

#about-us p {
  padding: 20px;
  font-size: larger;
  line-height: 1.7;
  content: icon;
}

#about-us a {
  text-decoration: none;
  color: red;
}

/* Sign-in section */

.scale {
  border-radius: -30%;
}
.scale:hover {
  transform: scale(1.1);
}
form div {
  margin-bottom: 10px;
  padding: 10px 0;
  font-family: "Roboto Slab", serif;
}

.form-label {
  width: 100%;
  display: block;
  margin: 20px auto 10px auto;
  font-size: 1.4em;
  font-family: "Roboto Slab", serif;
}
.form-control {
  width: 80%;
  display: block;
  padding: 15px 0;
  margin: 20px auto 10px auto;
  border: 1px solid #000;
  outline: 0;
  color: #000;
}
#country {
  font-size: 1.4em;
  color: #1b2838;
  background-color: #747c86;
}

.button {
  padding: 10px 10px;
  margin-top: 20px;
  color: #1c3b51;
  font-size: 1rem;
}
.cancel-button {
  padding: 10px 10px;
  margin-top: 20px;
  color: #1c3b51;
  font-size: 1em;
}
.button:hover {
  background-color: #66c0f4;
}
.cancel-button:hover {
  background-color: #4a97c9;
}
/* Footer */
footer {
  background-color: #171a21;
  padding: 20px 0;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-container {
  padding-top: 200px;
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 0 auto;
  justify-content: space-around;
}

.footer-section h3 {
  color: #66c0f4;
  font-family: "Oswald", serif;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.4 ease;
}

.footer-section ul li a:hover {
  color: #66c0f4;
}
.me-10 {
  margin-right: 10px;
}

#to-top {
  padding: 10px;
  border-radius: 50%;
  position: fixed;
  bottom: 60px;
  right: 10px;
  color: #0f960f;
  text-decoration: none;
  background-color: #66c0f4;
}
